
        .reviews-block__reviews-switcher {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-left: 20px;
    
            .rewiews-switcher__item {
                margin-right: 6px;
    
                &:last-child {
                    margin-right: 0;
                }

                .interactive-avatar__link {

                    .interactive-avatar__image {
                        height: 70px;
                        width: 70px;
                        border-radius: 100px;
                    
                        &.active {
                            box-sizing: border-box;
                            border: 4px solid #365A49;
                        }
                    }
                }
            }
        }