
        .reviews-block__reviews-switcher {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-left: rem(20px);
    
            .rewiews-switcher__item {
                margin-right: rem(6px);
    
                &:last-child {
                    margin-right: 0;
                }

                .interactive-avatar__link {

                    .interactive-avatar__image {
                        height: rem(70px);
                        width: rem(70px);
                        border-radius: 100px;
                    
                        &.active {
                            box-sizing: border-box;
                            border: rem(4px) solid #365A49;
                        }
                    }
                }
            }
        }