
.team__desc {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    position: absolute;
    max-width: 220px;

    @include tablets {
        position: static;
    }

    .team__image {
        margin-bottom: rem(20px);
        width: rem(220px);
    }
}

.team__desc-block {
    font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;

    .team__post {
        font-family: "Alegreya Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: rem(18px);
        line-height: rem(22px);
        margin-bottom: rem(5px);
    }
    
    .team__duties {
        font-family: "Alegreya Sans", sans-serif;
        color: #666666;
        font-weight: 300;
        font-size: rem(18px);
        line-height: rem(22px);
    }
}