/*Подключение normalize*/

@import url("../css/normalize.css");


/*Подключение шрифта*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap');


/*Задание переменных*/

$blue: #61C4D9;
/*Базовый  голубой цвет*/
$baseFontSize: 18px;
/*Размер шрифта для основного текстового контента*/
$darkGreen: #0b4d3c;
/*Базовый тёмно-зелёный цвет*/


/*Подключение стилей секций*/

@import url("../css/hero_section/main_styles/hero.css");
@import url("../css/why_section/main_styles/why.css");
@import url("../css/reviews_section/main_styles/reviews.css");
@import url("../css/order_section/main_styles/form.css");


/*Подключение стилей для фиксированного меню*/
@import url("fixed_menu.css");

/*Базовые стили для всей страницы*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    overflow: hidden;
    min-width: 940px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 940px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;

}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.section {
    height: 100vh;
    min-height: 650px;
}

.section--font-color--green {
    color: $darkGreen;
    font-family: 'Alegreya Sans';
}

.section-title {
    color: #292929;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
}

.order-button {
    font-size: 19px;
    font-weight: bold;
    max-width: 85px;
    margin-top: 32px;
    padding: 18px 35px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;
    font-family: 'Alegreya Sans';
    user-select: none;
    border: none;
    outline: none;

    &--theme--white {
        background-color: white;
        color: $darkGreen;

        &:hover {
            background-color: $darkGreen;
            color: white;
            transition: 0.2s;
        }
    }
    
    &--theme--green {
        background-color: $darkGreen;
        color: white;
        padding: 0;
        max-width: 156px;
        width: 156px;
        height: 60px;

        &:hover {
            background-color: white;
            color: $darkGreen;
            transition: 0.2s;
        }
    }

    &--theme--transparent {
        background-color: transparent;
        color: black;
        text-transform: none;
        padding: 0;
        max-width: 156px;
        width: 156px;
        height: 60px;
        padding: 0;

        &:hover {
            color: $darkGreen;
            transition: 0.2s;
        }

    }
}

.order-section {
    background-image: url(../images/pattern_3.png);
    background-size: cover;
    position: relative;

    &:before {
        content: url(../images/berries_5.svg);
        position: absolute;
        bottom: 20%;
        left: 10%;
    }

    &:after {
        content: url(../images/big_leaf_form.svg);
        position: absolute;
        bottom: 25%;
        right: 2%;
    }

    .order-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .order-section-title {
            color: inherit;
            margin-bottom: 45px;
        }
    }
}
