/*Подключение normalize*/

@import url("../css/normalize.css");


/*Подключение шрифта*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap');


/*Задание переменных*/

$blue: #61C4D9;
/*Базовый  голубой цвет*/
$baseFontSize: 18px;
/*Размер шрифта для основного текстового контента*/
$darkGreen: #0b4d3c;
/*Базовый тёмно-зелёный цвет*/


/*Перевод px в rem*/

@function rem($px) {
    @return $px / $baseFontSize + 0rem;
}

/*Breakpoints*/

$tablets: 768px;
$phones: 480px;

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}


/*Стили секций*/

@import "../css/hero_section/block_styles/hamburger";

.hero {
    background: url("../images/chocolate_bars.svg") left 78% center no-repeat, 
    url("../images/big_leaf.svg") right 2% bottom 20% no-repeat,
    url("../images/berries_1.svg") right 17% bottom 10% no-repeat,
    url("../images/pattern.svg") right bottom no-repeat;
    
    @include tablets {
        background: none;
    }

    &:before {
        position: absolute;
        content: url("../images/berries_2.svg");
        bottom: -5%;
        right: 0;

        @include tablets {
            position: absolute;
            content: url("../images/pattern.svg");
            bottom: 25%;
            right: 0;
        }

        @include phones {
            position: absolute;
            content: url("../images/pattern_phones.svg");
            bottom: 40%;
            right: 0;
        }
    }

    &:after {
        position: absolute;
        content: url("../images/smaller_leaf_2.svg");
        left: 7%;
        bottom: -4%;

        @include tablets {
            display: none;
        }
    }

    .hero__container {

        &:before {
            position: absolute;
            content: url("../images/smaller_leaf_1.svg");
            bottom: -3%;
            left: 60%;

            @include tablets {
                display: none;
            }
        }
    }
}

.header-phone__number {

    &:before {
        content: url("../images/phone.svg");
    }
}

.ordering-block {
    @include tablets {

        &:before {
            content: url("../images/chocolates_tablets.svg");
            height: 22rem;
            padding-bottom: 0.8rem;
        }
    }

    @include phones {

        &:before {
            content: "";
            background: url("../images/chocolates_tablets.svg") center center no-repeat;
            background-size: contain;
            width: rem(316px);
            height: rem(330px);
            padding-bottom: 2rem;
        }
    }
}

@import "../css/hero_section/main_styles/hero";

.why {
    position: relative;
    background: url("../images/why_pattern.svg") left bottom 40% no-repeat;
    
    @include tablets {
        background: url("../images/why_pattern.svg") left bottom 80% no-repeat;
    }

    @include phones {
        background: none;
    }

    &:before {
        content: url("../images/raspberry.svg");
        position: absolute;
        bottom: rem(-80px);
        left: 0;

        @include phones {
            content: "";
        }
    }
}

@import "../css/why_section/main_styles/why";

.reviews {
    position: relative;
    background: url("../images/berries_3.svg") top 22% right 22% no-repeat;

    @include tablets {
        background: url("../images/berries_3.svg") top 22% right 4% no-repeat;
    }

    @include phones {
        background: none;
    }

    &:before {
        content: url("../images/berries_4.svg");
        position: absolute;
        bottom: -8%;
        z-index: 100;

        @include phones {
            content: none;
        }
    }
}

.reviews-block {

    &:before {
        content: url("../images/pattern_2.svg");
        position: absolute;
        right: 0;
        top: rem(50px);
        z-index: 30;

        @include phones {
            
        }
    } 
}

@import "../css/reviews_section/main_styles/reviews";

.radio--checkbox {

    .radio__visible {
        border-radius: 0;
    
        &:before {
            content: "";
            background: url("../images/tick.svg") left 50% top 50% no-repeat;
        }
    }
}

@import "../css/order_section/main_styles/form";

.footer {
    background: url("../images/map.svg");
    background-size: cover;
}

.footer__phone-number {

    &:before {
        content: "";
        background: url("../images/phone_green.svg");
    }
}

@import "../css/footer_section/main_styles/footer";


/*Подключение стилей для фиксированного меню*/

@import "fixed_menu";


/*Базовые стили для всей страницы*/

html {
    font-size: $baseFontSize;

    @include tablets {
        font-size: $baseFontSize - 1px;
    }

    @include phones {
        font-size: $baseFontSize - 4px;
    }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 95%;
    max-width: 940px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;

}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.section {
    height: 100vh;
    min-height: rem(650px);
}

.section--font-color--green {
    color: $darkGreen;
    font-family: 'Alegreya Sans';
}

.section-title {
    color: #292929;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px);
    line-height: rem(58px);
    text-align: center;
}

.order-button {
    font-size: rem(19px);
    font-weight: bold;
    max-width: rem(85px);
    margin-top: rem(32px);
    padding: rem(18px) rem(35px);
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;
    font-family: 'Alegreya Sans';
    user-select: none;
    border: none;
    outline: none;

    &--theme--white {
        background-color: white;
        color: $darkGreen;

        &:hover {
            background-color: $darkGreen;
            color: white;
            transition: 0.2s;
        }
    }
    
    &--theme--green {
        background-color: $darkGreen;
        color: white;
        padding: 0;
        max-width: rem(156px);
        width: rem(156px);
        height: rem(60px);

        &:hover {
            background-color: white;
            color: $darkGreen;
            transition: 0.2s;
        }
    }

    &--theme--transparent {
        background-color: transparent;
        color: black;
        text-transform: none;
        padding: 0;
        max-width: rem(156px);
        width: rem(156px);
        height: rem(60px);
        padding: 0;

        &:hover {
            color: $darkGreen;
            transition: 0.2s;
        }

    }
}

.order-section {
    background-image: url("../images/pattern_3.png");
    background-size: cover;
    position: relative;

    &:before {
        content: url("../images/berries_5.svg");
        position: absolute;
        bottom: 15%;
        left: 10%;
        
        @include tablets {
            display: none;
        }

        @include phones {
            display: none;
        }
    }

    &:after {
        content: url("../images/big_leaf_form.svg");
        position: absolute;
        bottom: 10%;
        right: 2%;

        @include tablets {
            display: none;
        }

        @include phones {
            display: none;
        }
    }

    .order-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .order-section-title {
            color: inherit;
            margin-bottom: rem(45px);
        }
    }
}
