@charset "UTF-8";
/*Подключение normalize*/
@import url("../css/normalize.css");
/*Подключение шрифта*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");
/*Задание переменных*/
/*Базовый  голубой цвет*/
/*Размер шрифта для основного текстового контента*/
/*Базовый тёмно-зелёный цвет*/
/*Перевод px в rem*/
/*Breakpoints*/
/*Стили секций*/
.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.hamburger:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: white;
  height: 4px;
  border-radius: 10px;
}

/*Подключение стилей для блоков секции "hero"*/
.ordering-block {
  display: flex;
  flex-direction: column;
  width: 20.6111111111rem;
}
@media screen and (max-width: 768px) {
  .ordering-block {
    height: 100%;
    text-align: center;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
}
.ordering-block .ordering-block__product-name {
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 550;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  width: 19.6111111111rem;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .ordering-block .ordering-block__product-name {
    width: 100%;
  }
}
.ordering-block .ordering-block__product-description {
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  margin-top: 0.2777777778rem;
  font-size: 1.1666666667rem;
  line-height: 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .ordering-block .ordering-block__product-description {
    padding-left: 23%;
    padding-right: 23%;
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  .ordering-block .ordering-block__product-description {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.menu {
  height: 2.1111111111rem;
  margin-top: 1.3333333333rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu .header-logo {
  width: 0.3333333333rem;
  color: white;
  font-family: "Alegreya Sans";
  text-align: justify;
  font-size: 1.5555555556rem;
  line-height: 1.2222222222rem;
  font-weight: 500;
  margin-right: 2.6rem;
}
.menu .header-navigation {
  margin-top: 0.3888888889rem;
  margin: 0 30px;
  padding-top: 0.2rem;
}
@media screen and (max-width: 768px) {
  .menu .header-navigation {
    display: none;
  }
}
.menu .header-navigation .header-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.menu .header-navigation .header-list .header-list__item {
  margin: 0 0.7rem;
}
.menu .header-navigation .header-list .header-list__item .header-list__link {
  color: white;
  font-family: "Alegreya Sans";
  font-size: 1rem;
  line-height: 1.6666666667rem;
}
.menu .header-phone {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.menu .header-phone .phone-number {
  color: white;
  font-family: "Alegreya Sans";
  font-size: 1.3333333333rem;
  line-height: 1rem;
  margin-left: 0.2777777778rem;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .menu .header-phone .header-phone__number {
    display: none;
  }
}

.product-advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 28.8888888889rem;
  margin-bottom: 2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .product-advantages {
    display: none;
  }
}
.product-advantages .product-advantages__item {
  width: 9.2222222222rem;
  height: 3.1111111111rem;
  display: flex;
  flex-direction: row;
}
.product-advantages .product-advantages__item .product-advantages-item__text {
  margin-left: 0.6666666667rem;
  line-height: 1rem;
  color: white;
  font-family: "Alegreya Sans";
  font-size: 1rem;
  line-height: 1rem;
}

.product-advantages__item-image {
  overflow: visible;
  fill: #C6F7FF;
}

.product-advantages__item-image.leaf {
  width: 2.3888888889rem;
}

.product-advantages__item-image.truck {
  width: 2.7777777778rem;
}

.product-advantages__item-image.ruler {
  width: 2.2222222222rem;
}

/*Задание переменных*/
/*Базовый  голубой цвет*/
/*Размер шрифта для основного текстового контента*/
/*Базовый тёмно-зелёный цвет*/
/*Стили для секции "hero"*/
.hero {
  min-height: 36.1111111111rem;
  position: relative;
}
.hero .hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: 100vh;
  position: relative;
}

.hero {
  background: url("../images/chocolate_bars.svg") left 78% center no-repeat, url("../images/big_leaf.svg") right 2% bottom 20% no-repeat, url("../images/berries_1.svg") right 17% bottom 10% no-repeat, url("../images/pattern.svg") right bottom no-repeat;
  background-color: #61C4D9;
}
@media screen and (max-width: 768px) {
  .hero {
    background-image: none;
  }
}
.hero:before {
  position: absolute;
  content: url("../images/berries_2.svg");
  bottom: -5%;
  right: 0;
}
@media screen and (max-width: 768px) {
  .hero:before {
    position: absolute;
    content: url("../images/pattern.svg");
    bottom: 25%;
    right: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero:before {
    position: absolute;
    content: url("../images/pattern_phones.svg");
    bottom: 40%;
    right: 0;
  }
}
.hero:after {
  position: absolute;
  content: url("../images/smaller_leaf_2.svg");
  left: 7%;
  bottom: -4%;
}
@media screen and (max-width: 768px) {
  .hero:after {
    display: none;
  }
}
.hero .hero__container:before {
  position: absolute;
  content: url("../images/smaller_leaf_1.svg");
  bottom: -3%;
  left: 60%;
}
@media screen and (max-width: 768px) {
  .hero .hero__container:before {
    display: none;
  }
}

.header-phone__number:before {
  content: url("../images/phone.svg");
}

@media screen and (max-width: 768px) {
  .ordering-block:before {
    content: url("../images/chocolates_tablets.svg");
    height: 22rem;
    padding-bottom: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  .ordering-block:before {
    content: "";
    background: url("../images/chocolates_tablets.svg") center center no-repeat;
    background-size: contain;
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    padding-bottom: 2rem;
  }
}

/*Подключение стилей блоков секции*/
/*Стили для блока "headline"*/
.headline {
  margin-top: 5.5555555556rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline .headline__title {
  color: #292929;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
}
.headline .headline__subtitle {
  color: #666666;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  margin-top: 0.2777777778rem;
  max-width: 24.2222222222rem;
}
@media screen and (max-width: 480px) {
  .headline .headline__subtitle {
    max-width: 90%;
  }
}

/*Стили для блока "benefits"*/
.benefits-list {
  margin-top: 2.9444444444rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .benefits-list {
    flex-direction: column;
  }
}
.benefits-list .benefits-list__item {
  display: flex;
  text-align: center;
  position: relative;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .benefits-list .benefits-list__item {
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-bottom: 2.7777777778rem;
  }
}
.benefits-list .benefits-list__item:before {
  content: url("../images/why_dots.svg");
  position: absolute;
  top: 20%;
  left: 100%;
}
@media screen and (max-width: 768px) {
  .benefits-list .benefits-list__item:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits-list .benefits-list__item:before {
    display: none;
  }
}
.benefits-list .benefits-list__item:first-child {
  padding-left: 0;
}
.benefits-list .benefits-list__item:last-child {
  padding-right: 0;
}
.benefits-list .benefits-list__item:last-child:before {
  display: none;
}
.benefits-list .benefits-list__item .benefits-item__picture-block {
  margin-bottom: 1.6666666667rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .benefits-list .benefits-list__item .benefits-item__picture-block {
    max-width: 7.1111111111rem;
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}
.benefits-list .benefits-list__item .benefits-item__picture-block .benefits-item__picture-backgound {
  height: 7.1111111111rem;
  width: 7.1111111111rem;
  border-radius: 100px;
  background-color: #F2F5F4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.benefits-list .benefits-list__item .benefits-item__picture-block .benefits-item__picture-backgound .benefits-item__image {
  height: 3.5555555556rem;
  width: 3.5555555556rem;
  fill: #292929;
}
.benefits-list .benefits-list__item .benefits-item__text-block {
  display: flex;
  flex-direction: column;
  max-width: 15.5rem;
}
.benefits-list .benefits-list__item .benefits-item__text-block .benefits-item__title {
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  color: #292929;
  margin-bottom: 1rem;
}
.benefits-list .benefits-list__item .benefits-item__text-block:last-child {
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #666666;
}

/*Стили для секции "Почему"*/
.why__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 100vh;
}

.why {
  position: relative;
  background: url("../images/why_pattern.svg") left bottom 40% no-repeat;
}
@media screen and (max-width: 768px) {
  .why {
    background: url("../images/why_pattern.svg") left bottom 80% no-repeat;
  }
}
@media screen and (max-width: 480px) {
  .why {
    background: none;
  }
}
.why:before {
  content: url("../images/raspberry.svg");
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .why:before {
    content: none;
  }
}

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px !important;
}
@media screen and (max-width: 768px) {
  .products-container {
    max-width: 528px !important;
  }
}
@media screen and (max-width: 480px) {
  .products-container {
    max-width: 470px !important;
  }
}

.slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  width: 95%;
  height: 100vh;
}
.slide .swift {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .slide .swift {
    transform: translateY(-10%);
  }
}
.slide .swift .swift-left__arrow {
  overflow: visible;
  height: 1.5rem;
  width: 0.7777777778rem;
  fill: #292929;
  transform: scale(-1, 1);
  position: absolute;
}
.slide .swift .swift-left__arrow:hover {
  cursor: pointer;
}
.slide .swift .swift-right__arrow {
  overflow: visible;
  height: 1.5rem;
  width: 0.7777777778rem;
  fill: #292929;
}
@media screen and (max-width: 920px) {
  .slide .swift .swift-right__arrow {
    position: absolute;
  }
}
@media screen and (max-width: 768px) {
  .slide .swift .swift-right__arrow {
    position: absolute;
  }
}
@media screen and (max-width: 480px) {
  .slide .swift .swift-right__arrow {
    position: absolute;
  }
}
.slide .swift .swift-right__arrow:hover {
  cursor: pointer;
}
.slide .products__maincontent {
  display: flex;
  flex-direction: row;
  max-width: 98%;
}
@media screen and (max-width: 920px) {
  .slide .products__maincontent {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .slide .products__maincontent {
    flex-direction: column;
  }
}
.slide .products__maincontent .products__image-block {
  margin-right: 2.2222222222rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5.5555555556rem;
}
@media screen and (max-width: 920px) {
  .slide .products__maincontent .products__image-block {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .slide .products__maincontent .products__image-block {
    align-items: center;
  }
}
.slide .products__maincontent .products__image-block .image-block__image {
  max-width: 30.2777777778rem;
  max-height: 26.1111111111rem;
}
@media screen and (max-width: 480px) {
  .slide .products__maincontent .products__image-block .image-block__image {
    max-width: 27.7777777778rem;
  }
}
.slide .products__maincontent .products__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #292929;
}
@media screen and (max-width: 920px) {
  .slide .products__maincontent .products__text-block {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .slide .products__maincontent .products__text-block {
    text-align: center;
  }
}
.slide .products__maincontent .products__text-block .products__drop-down-menu {
  margin-bottom: 1.2777777778rem;
}
@media screen and (max-width: 920px) {
  .slide .products__maincontent .products__text-block .products__drop-down-menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .slide .products__maincontent .products__text-block .products__drop-down-menu {
    display: none;
  }
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block {
  width: 91px;
  position: relative;
  display: flex;
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block:hover {
  cursor: pointer;
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block:hover .drop-down-menu__list {
  display: flex;
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block .drop-down-menu__list {
  position: absolute;
  cursor: default;
  transform: translateX(100px);
  width: 15.1666666667rem;
  height: 19.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #cdcdcd;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  display: none;
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block .drop-down-menu__list:hover {
  display: flex;
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block .drop-down-menu__list:before {
  position: absolute;
  content: "";
  cursor: default;
  background-color: transparent;
  transform: translateX(-50%);
  height: 91px;
  width: 91px;
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block .drop-down-menu__list:before:hover .drop-down-menu__list {
  display: flex;
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block .drop-down-menu__list .drop-down-menu__item {
  cursor: default;
  padding-left: 30px;
  padding-right: 25px;
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block .drop-down-menu__list .drop-down-menu__item:first-child {
  padding-top: 28px;
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block .drop-down-menu__list .drop-down-menu__item:last-child {
  padding-bottom: 28px;
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block .drop-down-menu__list .drop-down-menu__item .drop-down-menu__link {
  cursor: default;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block .drop-down-menu__list .drop-down-menu__item .drop-down-menu__link .drop-down-menu__icon {
  width: 20px;
  height: 20px;
  fill: black;
  cursor: default;
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block .drop-down-menu__list .drop-down-menu__item .drop-down-menu__link .drop-down-menu__ingredient {
  color: black;
}
.slide .products__maincontent .products__text-block .products__drop-down-menu .drop-down-menu__block .drop-down-menu__list .drop-down-menu__item .drop-down-menu__link .drop-down-menu__ingredient-quantity {
  color: black;
}
.slide .products__maincontent .products__text-block .products__product-name {
  margin-bottom: 0.5555555556rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.3888888889rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .slide .products__maincontent .products__text-block .products__product-name {
    font-size: 1.9444444444rem;
  }
}
.slide .products__maincontent .products__text-block .products__product-desc {
  margin-bottom: 2.2222222222rem;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #666666;
}
.slide .products__maincontent .products__text-block .products__health-stat {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.7777777778rem;
}
@media screen and (max-width: 920px) {
  .slide .products__maincontent .products__text-block .products__health-stat {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .slide .products__maincontent .products__text-block .products__health-stat {
    justify-content: center;
  }
}
.slide .products__maincontent .products__text-block .products__health-stat .health-stat__kkal {
  width: 40%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .slide .products__maincontent .products__text-block .products__health-stat .health-stat__kkal {
    width: 30%;
  }
}
.slide .products__maincontent .products__text-block .products__health-stat .health-stat__kkal .kkal {
  font-weight: bold;
}
.slide .products__maincontent .products__text-block .products__health-stat .health-stat__weight {
  width: 40%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .slide .products__maincontent .products__text-block .products__health-stat .health-stat__weight {
    width: 30%;
  }
}
.slide .products__maincontent .products__text-block .products__health-stat .health-stat__weight .weight {
  font-weight: bold;
}
.slide .products__maincontent .products__text-block .products__order-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 920px) {
  .slide .products__maincontent .products__text-block .products__order-block {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .slide .products__maincontent .products__text-block .products__order-block {
    justify-content: center;
  }
}
.slide .products__maincontent .products__text-block .products__order-block .order-block__price {
  color: #151515;
  font-weight: 300;
  font-size: 3.3333333333rem;
  line-height: 3.3333333333rem;
  margin-right: 1.6666666667rem;
}
.slide .products__maincontent .products__text-block .products__order-block .products__order-button {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews-block__reviews-display {
  display: flex;
  flex-direction: row;
  background-color: #F8FAF9;
}
@media screen and (max-width: 768px) {
  .reviews-block__reviews-display {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 1.6666666667rem;
    padding-top: 1.6666666667rem;
    margin-bottom: 2.2222222222rem;
  }
}
.reviews-block__reviews-display .reviews-display__avatar {
  margin-right: 1.2777777778rem;
  margin-left: 2.3333333333rem;
  height: 14.6666666667rem;
  width: 14.0555555556rem;
  z-index: 60;
}
@media screen and (max-width: 768px) {
  .reviews-block__reviews-display .reviews-display__avatar {
    height: 7.2222222222rem;
    width: 7.2222222222rem;
  }
}
.reviews-block__reviews-display .reviews-display__review {
  display: flex;
  flex-direction: column;
}
.reviews-block__reviews-display .reviews-display__review .review__title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.5555555556rem;
  line-height: 1.7777777778rem;
  color: #292929;
  margin-top: 0.8333333333rem;
  z-index: 50;
}
.reviews-block__reviews-display .reviews-display__review .review__text {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #666666;
  margin-top: 1.2222222222rem;
  max-width: 25.7222222222rem;
  z-index: 40;
}
@media screen and (max-width: 768px) {
  .reviews-block__reviews-display .reviews-display__review .review__text {
    max-width: 90%;
  }
}
.reviews-block__reviews-display .reviews-display__review .review__name {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3333333333rem;
  color: #292929;
  margin-top: 1.3888888889rem;
}

.reviews-block__reviews-switcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 1.1111111111rem;
}
.reviews-block__reviews-switcher .rewiews-switcher__item {
  margin-right: 0.3333333333rem;
}
.reviews-block__reviews-switcher .rewiews-switcher__item:last-child {
  margin-right: 0;
}
.reviews-block__reviews-switcher .rewiews-switcher__item .interactive-avatar__link .interactive-avatar__image {
  height: 3.8888888889rem;
  width: 3.8888888889rem;
  border-radius: 100px;
}
.reviews-block__reviews-switcher .rewiews-switcher__item .interactive-avatar__link .interactive-avatar__image.active {
  box-sizing: border-box;
  border: 0.2222222222rem solid #365A49;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 100vh;
}
.reviews-container .reviews__title {
  margin-bottom: 2.0555555556rem;
}
.reviews-container .reviews-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 52.2222222222rem;
  height: 24.4444444444rem;
  position: relative;
}

.reviews {
  position: relative;
  background: url("../images/berries_3.svg") top 22% right 22% no-repeat;
}
@media screen and (max-width: 768px) {
  .reviews {
    background: url("../images/berries_3.svg") top 22% right 4% no-repeat;
  }
}
@media screen and (max-width: 480px) {
  .reviews {
    background: none;
  }
}
.reviews:before {
  content: url("../images/berries_4.svg");
  position: absolute;
  bottom: -8%;
  z-index: 100;
}
@media screen and (max-width: 480px) {
  .reviews:before {
    content: none;
  }
}

.reviews-block:before {
  content: url("../images/pattern_2.svg");
  position: absolute;
  right: 0;
  top: 2.7777777778rem;
  z-index: 30;
}
.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-left: 1.9444444444rem;
}
.radio:first-child {
  margin-left: 0;
}
.radio .radio__element {
  display: none;
}
.radio .radio__element:checked ~ .radio__visible::before {
  display: block;
}
.radio .radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 100px;
  background-color: white;
}
.radio .radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background-color: #365a49;
  border-radius: 100px;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .radio--checkbox {
    padding-left: 20%;
  }
}
.radio--checkbox .radio__visible:before {
  content: "";
  border-radius: 0;
  background-color: white;
}

.order-section {
  background-image: url("../images/pattern_3.png");
  background-size: cover;
  position: relative;
}
.order-section:before {
  content: url("../images/berries_5.svg");
  position: absolute;
  bottom: 15%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  .order-section:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .order-section:before {
    display: none;
  }
}
.order-section:after {
  content: url("../images/big_leaf_form.svg");
  position: absolute;
  bottom: 10%;
  right: 2%;
}
@media screen and (max-width: 768px) {
  .order-section:after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .order-section:after {
    display: none;
  }
}
.order-section .order-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 100vh;
}
.order-section .order-container .order-section-title {
  color: inherit;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 480px) {
  .order-section .order-container .order-section-title {
    margin: 0;
  }
}

.form {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 10%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 5%;
  }
}
.form .form__column {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form .form__column:last-child {
  margin-right: 0;
}
.form .form__column .form__row {
  display: flex;
  margin-bottom: 1rem;
}
.form .form__column .form__row .form__block {
  flex: 1;
  margin-right: 2.2222222222rem;
}
.form .form__column .form__row .form__block:last-child {
  margin-right: 1.1111111111rem;
}
.form .form__column .form__row .form__block .form__title {
  margin-bottom: 0.2777777778rem;
}
.form .form__column .form__row .form__block .form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.5555555556rem;
  border: solid 0.1666666667rem transparent;
}
@media screen and (max-width: 480px) {
  .form .form__column .form__row .form__block .form__input {
    padding: 0.2777777778rem 0.1666666667rem;
  }
}
.form .form__column .form__row .form__block .form__input:focus {
  border-color: #dee2bd;
  outline: none;
}
.form .form__column .form__row .form__block .form__input--textarea {
  height: 8.0555555556rem;
  resize: none;
}
@media screen and (max-width: 480px) {
  .form .form__column .form__row .form__block .form__input--textarea {
    height: 3.3333333333rem;
    max-width: 95%;
  }
}
.form .form__column .form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.2777777778rem;
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .form .form__column .form__controls {
    flex-wrap: nowrap;
  }
}
.form .form__column .form__controls:last-child {
  margin-bottom: 0;
}
.form .form__column .form__controls .radio .radio__title {
  margin-top: 0.2777777778rem;
  margin-left: 0.2777777778rem;
}
.form .form__column .form__buttons {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .form .form__column .form__buttons {
    margin-top: -0.8333333333rem;
  }
}

.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  content: "";
  background: url("../images/tick.svg") left 50% top 50% no-repeat;
}

.footer__menu {
  background-color: white;
  height: 5rem;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
  }
}
.footer-container .footer__adress {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.1666666667rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .footer-container .footer__adress {
    align-items: center;
    justify-content: space-between;
  }
}
.footer-container .footer__adress .adress-text {
  line-height: 1.3333333333rem;
  color: #292929;
}
.footer-container .footer__adress .phone-number {
  line-height: 1.1666666667rem;
  color: #497870;
}

.footer {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column-reverse;
}

.footer-container {
  height: 100%;
}

.footer {
  background: url("../images/map.svg");
  background-size: cover;
}

.footer__phone-number:before {
  content: url("../images/phone_green.svg");
}

.footer__social-sites {
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.social-sites__item {
  margin-right: 0.7777777778rem;
}

.social-sites__image {
  fill: #B3B3B3;
  width: 1.1111111111rem;
  height: 1rem;
}
.social-sites__image:hover {
  fill: black;
  transition: 0.2s;
}

/*Подключение стилей для фиксированного меню*/
.fixed-menu {
  position: fixed;
  top: 38%;
  right: 3%;
  z-index: 1000;
}
.fixed-menu .fixed-menu__list {
  display: flex;
  flex-direction: column;
}
.fixed-menu .fixed-menu__list .fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu .fixed-menu__list .fixed-menu__item .fixed-menu__link {
  height: 0.8888888889rem;
  width: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu .fixed-menu__list .fixed-menu__item .fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: white;
}
.fixed-menu .fixed-menu__list .fixed-menu__item--active .fixed-menu__link {
  border-color: white;
}

/*Базовые стили для всей страницы*/
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 95%;
  max-width: 940px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
}

.section--font-color--green {
  color: #0b4d3c;
  font-family: "Alegreya Sans";
}

.section-title {
  color: #292929;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  text-align: center;
}

.order-button {
  font-size: 1.0555555556rem;
  font-weight: bold;
  max-width: 4.7222222222rem;
  margin-top: 1.7777777778rem;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  font-family: "Alegreya Sans";
  -webkit-user-select: none;
          user-select: none;
  border: none;
  outline: none;
  text-align: center;
}
.order-button--theme--white {
  background-color: white;
  color: #0b4d3c;
}
.order-button--theme--white:hover {
  background-color: #0b4d3c;
  color: white;
  transition: 0.2s;
}
.order-button--theme--green {
  background-color: #0b4d3c;
  color: white;
  padding: 0;
  max-width: 8.6666666667rem;
  width: 8.6666666667rem;
  height: 3.3333333333rem;
}
.order-button--theme--green:hover {
  background-color: white;
  color: #0b4d3c;
  transition: 0.2s;
}
.order-button--theme--transparent {
  background-color: transparent;
  color: black;
  text-transform: none;
  padding: 0;
  max-width: 8.6666666667rem;
  width: 8.6666666667rem;
  height: 3.3333333333rem;
  padding: 0;
}
.order-button--theme--transparent:hover {
  color: #0b4d3c;
  transition: 0.2s;
}

.hero__navigation-menu {
  font-family: "Alegreya Sans";
  font-size: 1.6666666667rem;
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 100000;
  /*Должно быть выше всех элементов секции*/
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  /*Черный с непрозрачностью*/
  overflow-x: hidden;
  /*Отключение горизонтальной прокрутки*/
  transition: 0.5s;
  /*Эффект перехода*/
}
.hero__navigation-menu .navigation-menu__closing-button {
  position: absolute;
  right: 6%;
  top: 4%;
  height: 20px;
  width: 20px;
  fill: white;
}
.hero__navigation-menu .navigation-menu__closing-button:hover {
  fill: #61C4D9;
  transition: 0.2s;
}
.hero__navigation-menu .navigation-menu__content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 1.6666666667rem;
}
.hero__navigation-menu .navigation-menu__content .navigation-menu__item {
  margin-bottom: 1.1111111111rem;
}
.hero__navigation-menu .navigation-menu__content .navigation-menu__item:last-child {
  margin-bottom: 0;
}
.hero__navigation-menu .navigation-menu__content .navigation-menu__item .navigation-menu__link {
  color: white;
}
.hero__navigation-menu .navigation-menu__content .navigation-menu__item .navigation-menu__link:hover {
  color: #61C4D9;
  transition: 0.2s;
}