
/*Подключение normalize*/

@import url("../css/normalize.css");


/*Подключение шрифта*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap');


/*Задание переменных*/

$blue: #61C4D9;  /*Базовый  голубой цвет*/
$baseFontSize: 18px;  /*Размер шрифта для основного текстового контента*/
$darkGreen: #0b4d3c;  /*Базовый тёмно-зелёный цвет*/


/*Подключение стилей секций*/

@import url("../css/hero_section/main_styles/hero.css");
@import url("../css/why_section/main_styles/why.css");

/*Базовые стили для всей страницы*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
    overflow: hidden;
    min-width: 940px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 940px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    
}

ul {
    margin: 0;
    padding: 0;
}
  
li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.section {
    height: 100vh;
    min-height: 650px;
}
