.menu {
    height: 38px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .header-logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        width: 52.6px;

        .cho {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .cco {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .header-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        min-width: 640px;

        .header-list__item {
            color: white;
            font-family: 'Alegreya Sans', sans-serif;
            font-size: 18px;
            line-height: 30px;
        }
    }

    .header-phone {
        display: flex;
        flex-wrap: wrap;
        align-content: center;

        .header-phone__number {
            color: white;
            font-family: 'Alegreya Sans', sans-serif;
            font-size: 22px;
            line-height: 18px;
        }
    }
}