.menu {
  height: 38px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu .header-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  width: 52.6px;
}
.menu .header-logo .cho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu .header-logo .cco {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu .header-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  min-width: 640px;
}
.menu .header-list .header-list__item {
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.menu .header-phone {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.menu .header-phone .header-phone__number {
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  line-height: 18px;
}