
/*Стили для блока "benefits"*/

.benefits-list {
    margin-top: rem(53px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include phones {
        flex-direction: column;
    }

    .benefits-list__item {
        display: flex;
        text-align: center;
        position: relative;
        flex-direction: column;

        @include phones {
            flex-direction: row;
            align-items: center;
            text-align: left;
            margin-bottom: rem(50px);
        }

        &:before {
            content: url("../../../images/why_dots.svg");
            position: absolute;
            top: rem(50px);
            right: 0;
            transform: translateX(110%);

            @include phones {
                display: none;
            }
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;

            &:before {
                display: none;
            }
        }

        .benefits-item__picture-block {
            margin-bottom: rem(30px);
            display: flex;
            justify-content: center;
            
            @include phones {
                max-width: rem(128px);
                margin-bottom: 0;
                margin-right: rem(20px);
            }

            .benefits-item__picture-backgound {
                height: rem(128px);
                width: rem(128px);
                border-radius: 100px;
                background-color: #F2F5F4;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-content: center;
            }
        }

        .benefits-item__text-block {
            display: flex;
            flex-direction: column;
            max-width: rem(279px);

            .benefits-item__title {
                font-family: 'Alegreya Sans', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: rem(27px);
                line-height: rem(32px);
                color: #292929;
                margin-bottom: rem(18px);
            }

            &:last-child {
                font-family: 'Alegreya Sans', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: rem(18px);
                line-height: rem(22px);
                color: #666666;
            }
        }
    }
}
