
.footer__menu {
    background-color: white;
    height: rem(90px);
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .footer__adress {
        font-family: "Alegreya Sans";
        font-style: normal;
        font-weight: normal;
        font-size: rem(21px);
        display: flex;
        flex-direction: column;

        .adress-text {
            line-height: rem(24px);
            color: #292929;
        }

        .phone-number {
            line-height: rem(21px);
            color: #497870;
        }
    }

    .footer__social-sites {

        .social-sites__item {

            .vk {
                background: url("../../../images/vk.svg") no-repeat;
            }

            .facebook {
                background: url("../../../images/facebook.svg") no-repeat;
            }

            .instagram {
                background: url("../../../images/instagram.svg") no-repeat;
            }

            .twitter {
                background: url("../../../images/twitter.svg") no-repeat;
            }
        }
    }
}