
@import "../block_styles/reviews_display";
@import "../block_styles/reviews_switcher";


.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .reviews__title {
        margin-bottom: rem(37px);
    }

    .reviews-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: rem(940px);
        height: rem(440px);
        position: relative;
    }
}