
@import url("../block_styles/reviews_display.scss");
@import url("../block_styles/reviews_switcher.scss");


.reviews {
    position: relative;
    background: url(../images/berries_3.svg) top 22% right 22% no-repeat;

    &:before {
        content: url(../images/berries_4.svg);
        position: absolute;
        bottom: -8%;
    }
}

.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .reviews__title {
        margin-bottom: 37px;
    }

    .reviews-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 940px;
        height: 440px;
        position: relative;

        &:before {
            content: url(../images/pattern_2.svg);
            position: absolute;
            right: 0;
            top: 50px;
        } 
    }
}