
/*Подключение стилей блоков секции*/

@import "../block_styles/headline";
@import "../block_styles/benefits";


/*Стили для секции "Почему"*/

.why__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
