@charset "UTF-8";
/*Подключение стилей для блоков секции "hero"*/
@import url("../block_styles/menu.css");
@import url("../block_styles/ordering_block.css");
@import url("../block_styles/product_advantages.css");
/*Задание переменных*/
/*Базовый  голубой цвет*/
/*Размер шрифта для основного текстового контента*/
/*Базовый тёмно-зелёный цвет*/
/*Стили для секции "hero"*/
.hero {
  background: url(../../../images/chocolate_bars.svg) left 78% center no-repeat, url(../../../images/big_leaf.svg) right 2% bottom 20% no-repeat, url(../../../images/berries_1.svg) right 17% bottom 10% no-repeat, url(../../../images/pattern.svg) right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 650px;
  position: relative;
}
.hero:before {
  position: absolute;
  content: url(../../../images/berries_2.svg);
  bottom: -5%;
  left: 80%;
}
.hero:after {
  position: absolute;
  content: url(../../../images/smaller_leaf_2.svg);
  left: 20%;
  bottom: -4%;
}
.hero .hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.hero .hero__container:before {
  position: absolute;
  content: url(../../../images/smaller_leaf_1.svg);
  bottom: -3%;
  left: 60%;
}
.hero .hero__container .menu {
  min-height: 38px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero .hero__container .menu .header-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  width: 52.6px;
}
.hero .hero__container .menu .header-logo .cho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero .hero__container .menu .header-logo .cco {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero .hero__container .menu .header-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  min-width: 640px;
}
.hero .hero__container .menu .header-list .header-list__item {
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.hero .hero__container .menu .header-list .header-list__item:hover {
  color: #0b4d3c;
  transition: 0.3s;
}
.hero .hero__container .menu .header-phone {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.hero .hero__container .menu .header-phone .header-phone__number {
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  line-height: 18px;
  margin-left: 6px;
}
.hero .hero__container .ordering-block {
  display: flex;
  flex-direction: column;
  width: 371px;
}
.hero .hero__container .ordering-block .ordering-block__product-name {
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 550;
  font-size: 48px;
  line-height: 58px;
  width: 353px;
  margin: 0;
  padding: 0;
}
.hero .hero__container .ordering-block .ordering-block__product-description {
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  margin-top: 5px;
  font-size: 21px;
  line-height: 25px;
}
.hero .hero__container .ordering-block .ordering-block__order-button {
  width: 156px;
  height: 60px;
  background-color: white;
  color: #0b4d3c;
  border-radius: 100px;
  margin-top: 32px;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
}
.hero .hero__container .ordering-block .ordering-block__order-button:hover {
  background-color: #0b4d3c;
  color: white;
  transition: 0.3s;
}
.hero .hero__container .ordering-block .ordering-block__order-button:active {
  border: none;
  outline: none;
  text-decoration: none;
}
.hero .hero__container .ordering-block .ordering-block__order-button:focus {
  border: none;
  outline: none;
  text-decoration: none;
}
.hero .hero__container .product-advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 520px;
  margin-bottom: 50px;
}
.hero .hero__container .product-advantages .product-advantages-item {
  width: 166px;
  height: 56px;
  display: flex;
  flex-direction: row;
}
.hero .hero__container .product-advantages .product-advantages-item .product-advantages-item__text {
  margin-left: 12px;
  line-height: 18px;
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  line-height: 18px;
}